<div class='screenshot'>
  <img src='<%= local_image %>' alt=''/>
  <ul>
    <li>
    <strong><%= group_description.join(" >> ") %> <%= example_description %></strong>
  </li>
  <li>URL: <code><%= url %></code></li>
  <li>clicked on: <code><%= argument %></code></li>
  <li><a href='file://<%= file_with_line %>'><%= file_with_line %></a></li>
  <code><pre><%= snippet %></pre></code>
</table>
</div>
