<div class='screenshot'>
  <img src='<%= local_image %>' alt=''/>

  <ul>
    <li>
  <strong><%= describe_descriptions.join(" >> ") %>:
    <%= example_description %></strong>
  </li>
  <li>on <%= url %></li>
  <li>in <%= test_file %></li>
  <li>clicked on /visited: "<%= argument %>"</li>
</table>
</div>
